.cartBody {
    text-align: center;
}

.cartHeading {
    position: absolute;
    left: 80px;
    color: #000;
    font-family: KoHo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.cartMainHeading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-family: KoHo;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.cartButton {
    margin-left: 80%;
    height: 40px;
    font-family: KoHo;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    background: #00B876;
    line-height: normal;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    cursor: pointer;
    border-color: #26DE81;
    transition: color 0.5s, background-color 0.5s;
}

.cartButton:hover {
    color: white;
    background: #00e08e;
}

.cartSubHeading {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
    font-family: KoHo;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.cartSubHeading2 {
    color: #000;
    font-family: KoHo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cartViewSide {
    display: inline-flex;
    position: absolute;
    right: 20px;
    font-family: koHo;
    padding: 2px;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition: border 0.5s;
}

.cartViewSide:hover {
    border: 1px solid rgb(165, 165, 165);
}

.addButton {
    height: 25px;
    width: 80px;
    border: 0px;
    font-family: koHo;
    font-weight: 500;
    background: #E1E1E1;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.5s;
}

.addButton:hover {
    background: #c6c6c6;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.cartItems {
    font-family: koHo;
    padding-left: 80px;
    padding-right: 80px;
}

.totalCart {
    font-family: koHo;
    font-weight: 800;
}

#cartItemsCount{
	margin: 0;
	display: inline-block;
}